@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.moving-element {
  width: 100px;
  height: 100px;
  position: relative;
  animation: moveX 10s ease-in-out infinite alternate;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes moveX {
  0% {
    transform: translate(10vw, 0);
  }
  100% {
    transform: translate(110vw, 0);
  }
}

.moving-element:hover {
  width: 110px;
  height: 110px;
}

.main-heading {
  font-size: 7vw;
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 10rem;
  font-style: normal;
  margin-top: 5%;
}

.hazard_svg {
  position: absolute;
  z-index: -10;
  top: 2rem;
  width: 100vw;
  height: 70vh;
  transform: translate(0, 7rem);
  animation: pulse infinite 2s cubic-bezier(0.965, 0.84, 0.44, 1);
  transition: all 1s ease;
}

/* .moving-element:hover {
  animation: falling 10s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
} */

@keyframes pulse {
  0% {
    opacity: 0.65;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.65;
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translate3d(300, 0, 0) rotate(0deg);
  }

  50% {
    -webkit-transform: translate3d(400, 100, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

.loading_element {
  animation: pulse 2s infinite cubic-bezier(0.9, 0.61, 0.355, 1);
  width: 110px;
  height: 110px;
}

svg > .path1389 {
  animation: loading_color_change 4s infinite
    cubic-bezier(0.55, 0.055, 0.675, 0.19);
  fill: rgb(0, 137, 107);

  transition: all 1s ease;
}

@keyframes loading_color_change {
  0% {
    fill: blue;
  }
  25% {
    fill: green;
  }

  50% {
    fill: red;
  }
  75% {
    fill: orange;
  }

  100% {
    fill: yellow;
  }
}

.warning_div_tag {
  border-radius: 0.2rem;
  border: solid 10px rgb(72, 72, 72);
  border-left-width: 0.5px;
  border-top-width: 0.5px;
  transition: all ease-out 0.15s;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.3rem;
}
.warning_div_tag:hover {
  border: solid 0.1px rgb(72, 72, 72);
  transform: translate(0, 20px);
}
